

<html>

	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	</head>


	<style>
		.card {
			margin-bottom: 20px;
		}
	</style>

	<body class="bg-dark">



    <div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="#">
					{{#if owner}}
						Parking App - Owner
					{{else}}
						Parking App - Parker
					{{/if}}
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/logout">Logout</a>
						</li>
					</ul>
				</div>
			</nav>



			{{#if owner}}






			<div class="card">
				<div class="card-body">
					<h2>Your Parking Lots</h2>

					<table class="table">
						<thead>
								<tr>
									<th scope="col">Lot Name</th>
									<th scope="col">Address</th>
									<th scope="col">Price</th>
									<th scope="col">Open Spaces</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>

								{{#each lots}}
									<tr>
										<td>{{this.name}}</td>
										<td>{{this.address}}</td>
										<td>${{this.price}}</td>
										<td>{{this.spaces_open}}/25</td>
										<td>
											<form style="margin: 0px;" action="/lot/delete/{{this.lot_id}}" method="POST">
            						<button type="submit" class="btn btn-danger">Delete</button>
											</form>
										</td>
									</tr>
								{{/each}}


								<form class="card p-2" action="/lot" method="POST">
									<tr>
										<td>
          						<input type="text" class="form-control" placeholder="Name" name="name" required>
										</td>

										<td>
          						<input type="text" class="form-control" placeholder="Address" name="address" required>
										</td>

										<td>
          						<input type="number" class="form-control" placeholder="$/hour" name="price" required>
										</td>

										<td>
											25 (fixed)
										</td>


										<td>
											<button type="submit" class="btn btn-primary">Create</button>
										</td>
									</tr>
      					</form>
							</tbody>
						</table>
				</div>
			</div>





			{{else}}

			<div class="card">
				<div class="card-body">
					<h2>Your Vehicles</h2>

					<table class="table">
						<thead>
								<tr>
									<th scope="col">License Plate</th>
									<th scope="col">Nickname</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>

								{{#each vehicles}}
									<tr>
										<td>{{this.license_plate}}</td>
										<td>{{this.name}}</td>
										<td>

											<form style="margin: 0px;" action="/vehicle/delete/{{this.vehicle_id}}" method="POST">
            						<button type="submit" class="btn btn-danger">Delete</button>
											</form>
										</td>
									</tr>
								{{/each}}


								<form class="card p-2" action="/vehicle" method="POST">
									<tr>
										<td>
          						<input type="text" class="form-control" placeholder="License Plate" name="license" required>
										</td>
										<td>
											<input type="text" class="form-control" placeholder="Nickname" name="name" required>
										</td>
										<td>
											<button type="submit" class="btn btn-primary">Create</button>
										</td>
									</tr>
      					</form>
							</tbody>
						</table>
				</div>
			</div>




			{{/if}}


			<div class="card">
				<div class="card-body">
					<h2>Active Reservations</h2>

					<table class="table">
						<thead>
								<tr>
									<th scope="col">Vehicle</th>
									<th scope="col">Parking Lot</th>
									<th scope="col">Start Time</th>
									<th scope="col">End Time</th>
									<th scope="col">Cost</th>
								</tr>
							</thead>
							<tbody>
								{{#each reservations}}
									<td>{{this.vehicle.license_plate}} ({{this.vehicle.name}})</td>
									<td>{{this.lot.name}} ({{this.lot.address}})</td>
									<td>{{this.start_time}}</td>
									<td>{{this.end_time}}</td>
									<td>${{this.cost}}</td>
								{{/each}}
							</tbody>
						</thead>
					</table>
				</div>
			</div>


		</div>
	</body>

</html>


